# 위키독스

In [8]:
#101
bool

bool

In [10]:
#102
print(3 == 5)

False

In [14]:
#103
print(3 < 5)

True

In [18]:
#104
x = 4
print(1 < x < 5)

True

In [22]:
#105
print ((3 ==3) and (4 != 3))

True

In [26]:
#106
print(3 => 4)
## 부등호가 잘못 됨 <=

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1388253076.py, line 2)

In [37]:
#107
if 4 < 3:
    print("hello world")
# 아무런 출력이 없다. -> 조건이 만족하지 않는다.

In [41]:
#108 
if 4 < 3:
    print("hello world")
else :
    print("hi, there")

hi, there

In [45]:
#109
if True :
    print("1")
    print("2")
else :
    print("3")
print("4")

1
2
4

In [49]:
#110
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else : 
    print("4")
print("5")

3
5

In [87]:
#111
a = input(">> ")
print(a * 2)

>>  안녕하세요

안녕하세요안녕하세요

In [69]:
#112
a = input("숫자를 입력하세요 : ")
print(int(a) + 10)

숫자를 입력하세요 :  30

40

In [89]:
#113
user = int(input(">> "))
if user %2 == 0:
    print("짝수")
else:
    print("홀수")

>>  30

짝수

In [3]:
#114
user = input("입력값 : ")
a = 20 + int(user)
if a > 255:
    print(255)
else :
    print(f'출력값 : {a}')

입력값 :  255

255

In [29]:
#115
user = input("입력값 : ")
a = int(user) - 20
if 0 > a:
    print(0)
elif a > 255:
    print(255)
else :
    print(a)

입력값 :  15

0

In [15]:
#116
time = input("현재시간 : ")
if time[-2:] == '00': # 음수 인덱싱 02:00 -< -5 -4 -3 -2 -1
    print("정각 입니다.")
else :
    print("정각이 아닙니다.")

현재시간 :  02:00

정각 입니다.

In [47]:
#117
fruit = ["사과", "포도", "홍시"]
a = input("좋아하는 과일은? : ")
if a in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은? :  사과

정답입니다.

In [65]:
#118
warn_investment_list = ["Microsoft", "google", "Naver", "Kakao", "Samsung", "LG"]
user = input("종목명 : ")
if user in warn_investment_list:
    print("투자 경고 종목입니다")
else :
    print("투자 경고 종목이 아닙니다")

종목명 :  google

투자 경고 종목입니다

In [ ]:
#119
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
season = input("제가 좋아하는 계절은 : ")
if season in fruit:
    print("정답입니다")
else :
    print("오답입니다")

In [ ]:
#120
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
bear = input("좋아하는 과일은? :")
if bear in fruit:
    print("정답입니다")
else :
    print("오답입니다")

In [7]:
#121
user = input(" ")
if user.islower():
    print(user.upper())
else :
    print(user.lower())

  a

A

In [17]:
#122
score = int(input('score : ')) 
if 81 <= score <= 100:
    print('grade is A')
elif 61<= score <= 80:
    print('grade is B')
elif 41 <= score <= 60:
    print('grade is C')
elif 21 <= score <= 40:
    print('grade is D')
else :
    print('grade is E')

score :  80

grade is B

In [ ]:
#123

In [23]:
#124
user = int(input("input number1 : "))
user1 = int(input("input number2 : "))
user2 = int(input("input number3 : "))
if user >= user1 and user1 >= user2:
    print(user)
elif user1 >= user2 and user2 >= user:
    print(user1)
else:
    print(user2) #정의된 변수는 ' ' 따옴표를 씌우면 문자열로 인식하기 때문에 꼭 빼기 !!

input number1 :  10
input number2 :  9
input number3 :  20

20

In [51]:
#125
number = input("휴대전화 번호 입력: ")
num = number.split("-")[0] # 인덱스
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
print(f"당신은 {com} 사용자입니다.")

휴대전화 번호 입력:  010-2424

당신은 알수없음 사용자입니다.

In [53]:
#126
우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3] #우편번호 3번째 자리까지
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

우편번호:  0102424

강북구

In [ ]:
#127
주민번호 = input("주민등록번호: ")
주민번호 = 주민번호.split("-")[1] #인덱스 2번째자리 [0],[1]
if 주민번호[0] == "1" or 주민번호[0] == "3": #이제 2번쨰자리 즉, 1xxx. 2xxx, 3xxx, 4xxx가 남았으니, [0]이라고 해주고, == 1, 3
    print("남자")
else:   # 나머지 조건
    print("여자")

In [67]:
#128
주민번호 = input("주민등록번호: ")
뒷자리 = 주민번호.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8: #두 번째 요소부터 세법쨰까지 슬라이싱
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호:  821011-1635210

서울이 아닙니다.

In [ ]:
#129

In [79]:
#130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
변동폭 = float(btc['max_price']) - float(btc['min_price']) 
#딕셔너리 괄호 사용해야함 [] 
# key값을 []로 호출하면 그 key의 value값을 불러와요 헷갈릴때는 그냥 셀 따로 파서 하나씩 어떤값이 불러와지는지 확인하는것도 좋은방법!
시가 =  float(btc['opening_price']) 
최고가 = float(btc['max_price'])
if (시가+변동폭) > 최고가 :
    print('상승장')
else :
    print('하락장')

상승장

In [81]:
#131
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [83]:
#132
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [85]:
#133
for 변수 in ["A", "B", "C"]:
  print(변수)

A
B
C

In [87]:
#134
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

출력: A
출력: B
출력: C

In [89]:
#135
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변환: a
변환: b
변환: c

In [93]:
#136
for 변수 in [10, 20, 30]:
    print(변수)

10
20
30

In [109]:
#137
for 변수 in [10, 20, 30]:
    print(변수)

10
20
30

In [111]:
#138
for 변수 in [10, 20, 30]:
  print(변수)
  print("-------")

10
-------
20
-------
30
-------

In [113]:
#139
print("++++")
for 변수 in [10, 20, 30]:
    print(변수)

++++
10
20
30

In [139]:
#140
for 변수 in [1,1,1,1]: # 변수를 1개만 넣으면 1개만 출력, 데이터 4개이면 4개 출력
    print("------")

------
------
------
------

In [141]:
#141
리스트 = [100, 200, 300]
for 변수 in 리스트:
  print(변수 + 10)

110
210
310

In [143]:
#142
리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in 리스트:
  print("오늘의 메뉴: " + 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [145]:
#143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for 종목명 in 리스트:
  print(len(종목명)) #len == 문자열의 개수

6
4
4

In [147]:
#144
리스트 = ['dog', 'cat', 'parrot']
for 이름 in 리스트:
  print(이름, len(이름)) #이름의 문자열 개수

dog 3
cat 3
parrot 6

In [149]:
#145
리스트 = ['dog', 'cat', 'parrot']
for 이름 in 리스트:
  print(이름[0]) #동물의 첫 글자만 # 인덱스 이용하여 슬라이싱

d
c
p

In [151]:
#146
리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x", 변수)

3 x 1
3 x 2
3 x 3

In [155]:
#147 [틀림]
리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x ", 변수)
print("=", 3 * 변수)

3 x  1
3 x  2
3 x  3
= 9

In [159]:
#147
리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x ", 변수, "=", 3 * 변수)

3 x  1 = 3
3 x  2 = 6
3 x  3 = 9

In [161]:
#148
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[1:]:
  print(변수)

나
다
라

In [171]:
#149 [틀림]
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[:2]:
    print(변수)

가
나

In [173]:
#150 [틀림]
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[:-1]:
  print(변수)

가
나
다

In [185]:
#151
리스트 = [3, -20, -3, 44]
for 변수 in 리스트:
    if 변수 < 0:
        print(변수)

-20
-3

In [187]:
#152
리스트 = [3, 100, 23, 44]
for 변수 in 리스트:
  if 변수 % 3 == 0:
    print(변수)

3

In [189]:
#153
리스트 = [13, 21, 12, 14, 30, 18]
for 변수 in 리스트:
  if (변수 < 20) and (변수 % 3 == 0):
    print(변수)

12
18

In [191]:
#154
리스트 = ["I", "study", "python", "language", "!"]
for 변수 in 리스트:
  if len(변수) >= 3: #세글자이상의 문자열 출력
    print(변수)

study
python
language

In [201]:
#155
리스트 = ['A', 'b', 'c', 'd']
for 변수 in 리스트:
    if 변수.isupper():
        print(변수)

A

In [203]:
#156
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if not 변수.isupper():
    print(변수)

b
c

In [207]:
#157 [틀림]
리스트 = ['dog', 'cat', 'parrot']
for 변수 in 리스트:
    print(변수[0].upper())

D
C
P

In [215]:
#157
리스트 = ['dog', 'cat', 'parrot']
for 변수 in 리스트:
    print(변수[0].upper() + 변수[1:])

Dog
Cat
Parrot

In [217]:
#158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for 변수 in 리스트:
  split = 변수.split(".")
  print(split[0])

hello
ex01
intro

In [237]:
#159 # 조건 안 맞는?
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
  split = 변수.split(".")
if split[1] == "h":
        print(변수)

In [235]:
#160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
  split = 변수.split(".")
if (split[1] == "h") or (split[1] == "c"):
    print(변수)